@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font family added */

*{
  font-family: "Work Sans", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

/*     
  outline: 1px solid red;
  outline-offset: -1px;
 */

}

body{
  background: #fff9ff;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.desktop-hidden{
  display: none;
}

.display-flex{
  display: flex;
  align-items: center;
}

.align-center{
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.align-right{
  text-align: right;
}

.logo-text{
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  margin-left: 24px;
}

.title{
  font-size: 95px;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 24px;
}

.sub-title{
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.section-title{
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}

.para{
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 32px;
}

.para-1{
  font-size: 22px;
  margin: 2rem 0 1rem auto;
}

.para-2{
  font-size: 26px;
  font-weight: 700;
}

.para-plus{
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 40px;
}

button{
  border-radius: 48px;
  color: #ffffff;
  padding: 18px 36px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all .2s linear;
  cursor: pointer;
}

.btn-1{
  background: linear-gradient(145.00deg, #ff00ff 13.134%,#9933ff 87.942%);
}

.btn-2{
  background: linear-gradient(145.00deg, #00ccff 13.134%,#3399ff 87.942%);
}

.btn-3{
  background-color: #fff;
  color: #ff00ff;
}

button:hover{
  filter:  hue-rotate(10deg);
}

.brand-color{
  background: -webkit-linear-gradient(-90.00deg, #ff00ff,#9933ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.white-color{
  color: #fff;
}
/* global css ends */

/* nav section starts */
.navbar{
  justify-content: space-between;
  margin: 32px auto;
}

.navbar ul{
  gap: 2rem;
}

.social-nav{
  border-radius: 8px;
  padding: 17px 24px;
  background: rgba(103, 48, 255, 0.1);
  margin-bottom: 0;
  gap: 24px;
}

.social-nav img{
  width: 24px;
}
/* nav section ends */
/* banner section starts */
.banner{
  position: relative;
}

.banner .banner-bg-img{
  position: absolute;
  z-index: -1;
  max-width: 48%;
}

.banner-container{
  gap: 4rem;
}

.banner-text{
  width: 65%;
}

.buttons{
  gap: 7%;
}

.banner-img img{
  width: 100%;
}
.fa-play{
  padding: 1% 1% 1% 1.5%;
  border-radius: 50%;
  border: 1px solid #0b0223;
  font-size: 12px;
}
/* banner section ends */
/* gamer section starts */
.gamer{
  margin: 5rem auto;
}

.gamer-img img{
  width:100%;
}

.gamer-text{
  width: 68%;
}
/* gamer section ends */
/* video cards section starts */
.cards{
  gap: 1rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.card{
  position: relative;
  background-color: #0b0223;
  height: 300px;
  border-radius: 12px;
  cursor: pointer;
  width: 255px;
}

.card .video{
  height: 100%;
  max-width: 100%;
  transition: all .2s linear;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.card .video:hover{
  opacity: 70%;
  outline: 3px solid #ff00ff;
  outline-offset: -3px;
}

.hover-icons{
  position: absolute;
  top: 42%;
  left: 42%;
}

.card:hover .hover-icons{
  opacity: 100%;
}

.hover-icons{
  opacity: 0%;
}

.hover-icons i{
  font-size: 30px;
  padding: 30% 30% 30% 40.5%;
  margin-bottom: 10px;
  border: 2px solid #fff;
}
/* video cards section ends */
/* game section starts */
.game{
  margin-top: 10rem;
}

.game-container{
  gap: 7rem;
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.game-text{
  max-width: 50%;
  padding: 2.5rem;
}

.game-img{
  position: relative;
  width: 50%;
}

.game-img .main{
  width: 100%;
}

.float{
  position: absolute;
  width: 50%;
}

.game-img .top{
  bottom: -15%;
  left: -22%;
}

.game-img .bottom{
  bottom: -15%;
  right: -22%;
}

.game-bottom{
  flex-direction: row-reverse;
}
/* game section ends */
/* career section starts */
.careers{
  background: linear-gradient(90.00deg, rgb(217, 66, 255) 13.134%,rgb(230, 66, 255) 87.942%);
}

.careers .careers-text{
  padding-left:10%;
  max-width: 50%;
}

.plus{
  justify-content: space-between;
}

.careers .careers-img img{
  width: 100%;
}
/* career section ends */














@media screen and (max-width: 576px) {
  .container{
    max-width: 90%;
  }

  .mobile-hidden{
    display: none;
  }

  .mobile-center{
    text-align: center;
  }

  .desktop-hidden{
    display: block;
  }

  .logo{
    width: 20%;
  }
  
  .logo-text{
    font-size: 32px;
  }

  .title{
    font-size: 75px;
  }

  .sub-title{
    font-size: 38px;
    margin-top: 2rem;
  }

  .para, .para-plus{
    font-size: 18px;
  }
  .banner-container{
    flex-direction: column-reverse;
    gap: 20%;
  }

  .banner-text,
  .gamer-text{
    width: 100%;
  }

  .banner .banner-bg-img{
    bottom: 0;
    max-width: 100%;
    height: 50%;
  }

  .gamer,
  .careers{
    flex-direction: column;
    margin: 3rem auto;
    overflow: clip;
  }

  .cards{
    flex-direction: column;
    gap: 6rem;
  }

  .game-container{
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }

  .game-text{
    max-width: 100%;
    padding: 0;
  }

  .game-img{
    width: 69.4%;
  }

  .careers .careers-text{
    max-width: 90%;
    padding: 20% 0 0 0;
  }

  .careers .careers-img{
    margin-right: -15%;
  }


}